.about {
    --m: .9rem;
    --w: calc(min(80vw, 520px));

    background-color: #ffffffe0;
    border-radius: var(--bord-r-std);
    box-sizing: border-box;
    box-shadow: var(--menu-shadow);
    left: calc(50% - var(--w) * .5);
    position: absolute;
    top: var(--pad-std);
    width: var(--w);
}

.about .close-wr {
    color: var(--link-c);
    position: absolute;
    padding: calc(var(--pad-std) * .75);
    top: 0;
    transition: color var(--link-tx);
    right: 0;
}

.about .close-wr:hover {
    color: var(--link-c-h);
}

.about .credits-text {
    padding-left: var(--m);
}

.about .credits {
    height: 0;
    overflow: hidden;
    transition: var(--main-tx);
}

.about .credits-inner > *:first-child {
    /* Otherwise this margin would be outside credits-inner */
    margin-top: 0;
}

.about .scroll-container {
    box-sizing: border-box;
    max-height: calc(var(--main-h) - 2 * var(--pad-std));
    overflow: scroll;
    padding: var(--pad-std);
}

.about h1 {
    margin-top: 0;
}

.about h1, h2, h3, p, ul {
    margin-top: var(--m);
    margin-bottom: var(--m);
}

.about h1 {
    margin-top: 0;
    font-size: 1.7rem;
}

.about ul:last-child {
    margin-bottom: 0;
}

.about h2 {
    font-size: 1.35rem;
}

.about p, li {
    line-height: 1.35em;
}

.about .version {
    color: #00000078;
    text-align: center;
}
