.contacts {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts.light {
    --c: #0006;
    --C: #0009;
}

.contacts.dark {
    --c: #00000098;
    --C: #000e;
}

.contacts li {
    display: block;
}

.contacts li:not(:last-child) {
    margin-right: .65em;
}

.contacts.sm li:not(:last-child) {
    margin-right: .45em;
}

.contacts .link {
    text-decoration: none;
    transition: color var(--link-tx);
}

.contacts .link, .link:visited {
    color: var(--c);
}

.contacts .link:hover {
    color: var(--C);
}
