.img-params-menu {
    --menu-tx: var(--ic-tx);
    --pad-gr: calc(var(--pad-std) *.75);

    background-color: #ffffffc0;
    border-radius: var(--bord-r-std);
    box-sizing: border-box;
    box-shadow: var(--menu-shadow);
    left: var(--pad-std);
    margin: 0;
    max-height: calc(var(--main-h) - 3 * var(--pad-std) - var(--btn-size));
    overflow-y: scroll;
    padding-top: var(--pad-std);
    position: absolute;
    top: calc(var(--pad-std) * 2 + var(--btn-size));
}

.img-params-menu .group {
    padding-bottom: var(--pad-gr);
    padding-left: var(--pad-std);
    padding-right: var(--pad-std);
}

.img-params-menu .group-button {
    transition: color var(--ic-tx), text-shadow var(--ic-tx);
}

.img-params-menu .group-button:hover {
    color: #000;
}

.img-params-menu .group-button:active {
    color: unset;
}

.img-params-menu .group-button-txt {
    padding-left: .5em;
    padding-right: 1em;
}

.img-params-menu .group-body {
    --label-w: 3rem;
    --input-w: 12rem;

    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: calc(1.6em);
    transition: height var(--menu-tx), opacity var(--menu-tx), padding-top var(--menu-tx);
}

.img-params-menu .group-body.open {
    opacity: 1;
    padding-top: var(--pad-gr);
}

.img-params-menu .group-body-inner {
    display: grid;
    gap: calc(var(--pad-gr) * .75);
    grid-template-columns: auto var(--label-w) var(--input-w) var(--label-w);
    font-size: .9em;
}

.img-params-menu .param-label-wr {
    align-items: center;
    display: flex;
}

.img-params-menu .param-min {
    text-align: right;
}

.img-params-menu .input-slider {
    margin: 0;
    width: 100%;
}

.img-params-menu .input-select {
    font: inherit;
    padding: 0.25em;
    width: 100%;
}

@media (max-width: 510px) {
    .img-params-menu {
        max-width: calc(100vw - 2 * var(--pad-std));
    }

    .img-params-menu .group-body-inner {
        grid-template-columns: auto minmax(auto, var(--input-w));
    }

    .img-params-menu .param-min, .img-params-menu .param-max {
        display: none;
    }
}

.img-params-menu .footer-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--pad-std);
}

.img-params-menu .footer-about {
    color: var(--link-c);
    letter-spacing: .04em;
    margin-top: calc(var(--pad-gr) * .7);
    transition: color var(--link-tx);
}

.img-params-menu .footer-about:hover {
    color: var(--link-c-h);
}
