/* Global */

html {
    background-color: #384048;
    background-image: url('../public/bg-image.png');
    background-size: cover;
    background-position: center center;

    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 16px;

    --bord-r-std: 8px;
    --btn-size: 48px;
    --ic-tx: 200ms;
    --link-c: #00000088;
    --link-c-h: #000c;
    --link-tx: 300ms;
    --menu-bg-color: #ffffffb8;
    --menu-backdrop-filter: blur(4px);
    --menu-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    --pad-std: 16px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

a, a:visited {
    color: var(--link-c);
    font-family: unset;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--ic-tx), color var(--ic-tx);
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--link-c-h);
    text-decoration-color: var(--link-c-h);
}

button {
    background: unset;
    border: unset;
    color: inherit;
    cursor: pointer;
    font: unset;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

/* Util */

.arrow-down-wrapper {
    display: inline-block;
    transition: transform var(--ic-tx);
}

.arrow-down-wrapper.open {
    transform: rotate(-180deg);
}
